<section class="main-404 section-{{ section.id }}">
  <div class="page-width main-404__inner">
    <h1 class="main-404__title">{{ 'templates.404.title' | t }}</h1>
    <p class="main-404__sub">{{ 'templates.404.subtext' | t }}</p>
    <a href="{{ routes.root_url }}" class="btn btn--primary">{{ 'templates.404.link' | t }}</a>
  </div>
</section>

{% schema %}
{
  "name": "404 Page",
  "tag": "section",
  "settings": []
}
{% endschema %}
